<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
  <default>
    <AddressFinder_Widget>
      <settings>
        <licence_key>ADDRESSFINDER_DEMO_KEY</licence_key>
        <debug_mode>0</debug_mode>
        <widget_options>{}</widget_options>
      </settings>
    </AddressFinder_Widget>
  </default>
</config>