<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
  <default>
    <addressfinder>
      <general>
        <enabled>0</enabled>
        <licence_key>ADDRESSFINDER_DEMO_KEY</licence_key>
        <default_search_country>au</default_search_country>
        <forms_enabled>all</forms_enabled>
        <debug_mode>0</debug_mode>
        <widget_options>{}</widget_options>
      </general>
    </addressfinder>
  </default>
</config>
