<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="addressfinder_form_config">
        <observer name="checkout_billing_address"
                  instance="AddressFinder\AddressFinder\Observer\FormConfig\AddCheckoutBillingAddress"/>

        <observer name="checkout_shipping_address"
                  instance="AddressFinder\AddressFinder\Observer\FormConfig\AddCheckoutShippingAddress"/>

        <observer name="customer_address_book"
                  instance="AddressFinder\AddressFinder\Observer\FormConfig\AddCustomerAddressBook"/>
    </event>
</config>