<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:Magento_Config:etc/system_file.xsd">
  <system>
    <section id="AddressFinder_Widget" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
      <label>AddressFinder</label>
      <tab>service</tab>
      <resource>AddressFinder_Widget::settings</resource>
      <group id="settings" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">

        <label>AddressFinder</label>

        <field id="licence_key" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
          <label>Licence Key</label>
          <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
        </field>

        <field id="debug_mode" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
          <label>Debug Mode</label>
          <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
        </field>
      </group>
    </section>
  </system>
</config>